:root {

    font-family: "Globotipo Corporativa", Helvetica, sans-serif;
    color: black;

    --gradient1: #05A6FF;
    --gradient2: #8800F8;
    --errorMsg: #FF0C1F;
    --text: #858585;
    --title: black;
    --subtitle: #1c1c1c;
    --bg: #f1f1f1;

}

* {

    margin: 0;
    padding: 0;

}

a {

    text-decoration: none;

}

li {

    list-style-type: none;

}

button {

    cursor: pointer;

}